html, body {
  margin: 0;
  scroll-behavior: smooth;
}

* {
  box-sizing: border-box;
}

/*resets*/
h1, h2, h3, h4, h5, p {
  margin: 0;
  padding: 0;
}

body {
  background-color: var(--base-color);
}

h2 {
  vertical-align: center;
  text-align: center;
}

#zsuzsadev {
  padding-right: 5px;
  float: left;
  line-height: 55px;
  font-size: 23px;
}
#zsuzsadev a, #zsuzsadev a:visited {
  color: var(--lightest-text-color);
  text-decoration: none;
}

.top-nav {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  background-color: var(--base-color);
  color: #FFF;
  height: 50px;
  margin-inline: auto;
  max-width: 1200px;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-inline: 10px;
}

.menu {
  display: flex;
  flex-direction: row;
  list-style-type: none;
  margin: 0;
  padding: 0;
}
.menu li {
  margin: 0 16px;
  line-height: 55px;
  overflow: hidden;
  text-transform: uppercase;
}
@media (max-width: 700px) {
  .menu li {
    line-height: 20px;
  }
}
.menu li #language {
  color: var(--lightest-text-color);
}
@media screen and (max-width: 800px) {
  .menu li #language {
    color: var(--base-color);
    padding-inline: 4px;
  }
}
.menu li a, .menu li a:visited {
  color: var(--light-text-color);
  text-decoration: none;
}
.menu li button {
  background-color: transparent;
  color: var(--highlight-color);
  padding: 10px;
  border-radius: 15px;
  border: 1px solid var(--highlight-color);
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  display: inline-block;
  font-size: 16px;
  cursor: pointer;
}
@media (max-width: 700px) {
  .menu li button {
    border: none;
    padding: 0;
  }
}
.menu li button #highlighted {
  color: var(--highlight-color);
}

.menu-button-container {
  display: none;
  height: 100%;
  width: 30px;
  cursor: pointer;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#menu-toggle {
  display: none;
}

.menu-button,
.menu-button::before,
.menu-button::after {
  display: block;
  background-color: #fff;
  position: absolute;
  height: 2px;
  width: 30px;
  transition: transform 800ms cubic-bezier(0.23, 1, 0.32, 1);
}

.menu-button::before {
  content: "";
  margin-top: -8px;
}

.menu-button::after {
  content: "";
  margin-top: 8px;
}

#menu-toggle:checked + .menu-button-container .menu-button::before {
  margin-top: 0px;
  transform: rotate(405deg);
}

#menu-toggle:checked + .menu-button-container .menu-button {
  background: rgba(255, 255, 255, 0);
}

#menu-toggle:checked + .menu-button-container .menu-button::after {
  margin-top: 0px;
  transform: rotate(-405deg);
}

@media (max-width: 700px) {
  .menu-button-container {
    display: flex;
  }
  .menu {
    position: absolute;
    top: 0;
    margin-top: 50px;
    left: 0;
    flex-direction: column;
    width: 100%;
    justify-content: center;
    align-items: center;
  }
  #menu-toggle ~ .menu li {
    height: 0;
    margin: 0;
    padding: 0;
    border: 0;
    transition: height 400ms cubic-bezier(0.23, 1, 0.32, 1);
  }
  #menu-toggle:checked ~ .menu li {
    height: 40px;
    padding: 8px;
    transition: height 400ms cubic-bezier(0.23, 1, 0.32, 1);
  }
  .menu > li {
    display: flex;
    justify-content: center;
    margin: 0;
    padding: 8px 0;
    width: 100%;
    background-color: var(--lightest-text-color);
  }
  .menu > li a {
    color: var(--base-color);
  }
}
* {
  font-family: Arial, Helvetica, sans-serif;
}

/*
:root {
    --base-color: #4C4864;
    --darker-base-color: #201e2c;
    --lighter-base-color: #E5F2F9;
    --light-text-color: #959da1;
    --lightest-text-color: rgb(252, 254, 255);
    --highlight-color: #F3C72C;
}
*/
:root {
  --base-color: #272b3b;
  --darker-base-color: #201e2c;
  --lighter-base-color: #E5F2F9;
  /*--light-text-color: #e2e2e9;*/
  --light-text-color: #a9a9be;
  --lightest-text-color: rgb(252, 254, 255);
  --highlight-color: #F3C72C;
}

.particle {
  position: absolute;
  border-radius: 50%;
}

@keyframes particle-animation-1 {
  100% {
    transform: translate3d(50vw, 89vh, 25px);
  }
}
.particle:nth-child(1) {
  animation: particle-animation-1 70s infinite;
  opacity: 0.18;
  height: 3px;
  width: 3px;
  animation-delay: -0.2s;
  transform: translate3d(22vw, 23vh, 40px);
  background: hsla(212, 100%, 92%, 0.507);
}

@keyframes particle-animation-2 {
  100% {
    transform: translate3d(84vw, 8vh, 89px);
  }
}
.particle:nth-child(2) {
  animation: particle-animation-2 70s infinite;
  opacity: 0.82;
  height: 3px;
  width: 3px;
  animation-delay: -0.4s;
  transform: translate3d(67vw, 27vh, 37px);
  background: hsla(212, 100%, 92%, 0.507);
}

@keyframes particle-animation-3 {
  100% {
    transform: translate3d(75vw, 85vh, 37px);
  }
}
.particle:nth-child(3) {
  animation: particle-animation-3 70s infinite;
  opacity: 0.32;
  height: 3px;
  width: 3px;
  animation-delay: -0.6s;
  transform: translate3d(34vw, 45vh, 58px);
  background: hsla(212, 100%, 92%, 0.507);
}

@keyframes particle-animation-4 {
  100% {
    transform: translate3d(17vw, 72vh, 49px);
  }
}
.particle:nth-child(4) {
  animation: particle-animation-4 70s infinite;
  opacity: 0.77;
  height: 3px;
  width: 3px;
  animation-delay: -0.8s;
  transform: translate3d(23vw, 32vh, 44px);
  background: hsla(212, 100%, 92%, 0.507);
}

@keyframes particle-animation-5 {
  100% {
    transform: translate3d(84vw, 13vh, 88px);
  }
}
.particle:nth-child(5) {
  animation: particle-animation-5 70s infinite;
  opacity: 0.55;
  height: 3px;
  width: 3px;
  animation-delay: -1s;
  transform: translate3d(44vw, 17vh, 34px);
  background: hsla(212, 100%, 92%, 0.507);
}

@keyframes particle-animation-6 {
  100% {
    transform: translate3d(27vw, 12vh, 44px);
  }
}
.particle:nth-child(6) {
  animation: particle-animation-6 70s infinite;
  opacity: 0.21;
  height: 3px;
  width: 3px;
  animation-delay: -1.2s;
  transform: translate3d(43vw, 9vh, 82px);
  background: hsla(212, 100%, 92%, 0.507);
}

@keyframes particle-animation-7 {
  100% {
    transform: translate3d(75vw, 5vh, 44px);
  }
}
.particle:nth-child(7) {
  animation: particle-animation-7 70s infinite;
  opacity: 0.68;
  height: 3px;
  width: 3px;
  animation-delay: -1.4s;
  transform: translate3d(32vw, 22vh, 2px);
  background: hsla(212, 100%, 92%, 0.507);
}

@keyframes particle-animation-8 {
  100% {
    transform: translate3d(65vw, 23vh, 19px);
  }
}
.particle:nth-child(8) {
  animation: particle-animation-8 70s infinite;
  opacity: 0.02;
  height: 3px;
  width: 3px;
  animation-delay: -1.6s;
  transform: translate3d(86vw, 51vh, 19px);
  background: hsla(212, 100%, 92%, 0.507);
}

@keyframes particle-animation-9 {
  100% {
    transform: translate3d(33vw, 84vh, 3px);
  }
}
.particle:nth-child(9) {
  animation: particle-animation-9 70s infinite;
  opacity: 0.05;
  height: 3px;
  width: 3px;
  animation-delay: -1.8s;
  transform: translate3d(51vw, 36vh, 100px);
  background: hsla(212, 100%, 92%, 0.507);
}

@keyframes particle-animation-10 {
  100% {
    transform: translate3d(65vw, 76vh, 35px);
  }
}
.particle:nth-child(10) {
  animation: particle-animation-10 70s infinite;
  opacity: 0.3;
  height: 3px;
  width: 3px;
  animation-delay: -2s;
  transform: translate3d(89vw, 58vh, 81px);
  background: hsla(212, 100%, 92%, 0.507);
}

@keyframes particle-animation-11 {
  100% {
    transform: translate3d(69vw, 60vh, 23px);
  }
}
.particle:nth-child(11) {
  animation: particle-animation-11 70s infinite;
  opacity: 0.98;
  height: 3px;
  width: 3px;
  animation-delay: -2.2s;
  transform: translate3d(68vw, 10vh, 11px);
  background: hsla(212, 100%, 92%, 0.507);
}

@keyframes particle-animation-12 {
  100% {
    transform: translate3d(38vw, 67vh, 73px);
  }
}
.particle:nth-child(12) {
  animation: particle-animation-12 70s infinite;
  opacity: 0.07;
  height: 3px;
  width: 3px;
  animation-delay: -2.4s;
  transform: translate3d(16vw, 86vh, 23px);
  background: hsla(212, 100%, 92%, 0.507);
}

@keyframes particle-animation-13 {
  100% {
    transform: translate3d(47vw, 86vh, 73px);
  }
}
.particle:nth-child(13) {
  animation: particle-animation-13 70s infinite;
  opacity: 0.69;
  height: 3px;
  width: 3px;
  animation-delay: -2.6s;
  transform: translate3d(50vw, 45vh, 78px);
  background: hsla(212, 100%, 92%, 0.507);
}

@keyframes particle-animation-14 {
  100% {
    transform: translate3d(65vw, 86vh, 100px);
  }
}
.particle:nth-child(14) {
  animation: particle-animation-14 70s infinite;
  opacity: 0.63;
  height: 3px;
  width: 3px;
  animation-delay: -2.8s;
  transform: translate3d(28vw, 39vh, 37px);
  background: hsla(212, 100%, 92%, 0.507);
}

@keyframes particle-animation-15 {
  100% {
    transform: translate3d(42vw, 50vh, 47px);
  }
}
.particle:nth-child(15) {
  animation: particle-animation-15 70s infinite;
  opacity: 0.37;
  height: 3px;
  width: 3px;
  animation-delay: -3s;
  transform: translate3d(32vw, 11vh, 29px);
  background: hsla(212, 100%, 92%, 0.507);
}

@keyframes particle-animation-16 {
  100% {
    transform: translate3d(27vw, 69vh, 21px);
  }
}
.particle:nth-child(16) {
  animation: particle-animation-16 70s infinite;
  opacity: 0.53;
  height: 3px;
  width: 3px;
  animation-delay: -3.2s;
  transform: translate3d(87vw, 83vh, 59px);
  background: hsla(212, 100%, 92%, 0.507);
}

@keyframes particle-animation-17 {
  100% {
    transform: translate3d(73vw, 59vh, 28px);
  }
}
.particle:nth-child(17) {
  animation: particle-animation-17 70s infinite;
  opacity: 0.18;
  height: 3px;
  width: 3px;
  animation-delay: -3.4s;
  transform: translate3d(57vw, 50vh, 6px);
  background: hsla(212, 100%, 92%, 0.507);
}

@keyframes particle-animation-18 {
  100% {
    transform: translate3d(83vw, 66vh, 37px);
  }
}
.particle:nth-child(18) {
  animation: particle-animation-18 70s infinite;
  opacity: 0.11;
  height: 3px;
  width: 3px;
  animation-delay: -3.6s;
  transform: translate3d(35vw, 10vh, 49px);
  background: hsla(212, 100%, 92%, 0.507);
}

@keyframes particle-animation-19 {
  100% {
    transform: translate3d(14vw, 33vh, 18px);
  }
}
.particle:nth-child(19) {
  animation: particle-animation-19 70s infinite;
  opacity: 0.64;
  height: 3px;
  width: 3px;
  animation-delay: -3.8s;
  transform: translate3d(13vw, 50vh, 14px);
  background: hsla(212, 100%, 92%, 0.507);
}

@keyframes particle-animation-20 {
  100% {
    transform: translate3d(32vw, 73vh, 94px);
  }
}
.particle:nth-child(20) {
  animation: particle-animation-20 70s infinite;
  opacity: 0.93;
  height: 3px;
  width: 3px;
  animation-delay: -4s;
  transform: translate3d(10vw, 16vh, 42px);
  background: hsla(212, 100%, 92%, 0.507);
}

@keyframes particle-animation-21 {
  100% {
    transform: translate3d(32vw, 84vh, 91px);
  }
}
.particle:nth-child(21) {
  animation: particle-animation-21 70s infinite;
  opacity: 0.08;
  height: 3px;
  width: 3px;
  animation-delay: -4.2s;
  transform: translate3d(19vw, 25vh, 9px);
  background: hsla(212, 100%, 92%, 0.507);
}

@keyframes particle-animation-22 {
  100% {
    transform: translate3d(57vw, 57vh, 6px);
  }
}
.particle:nth-child(22) {
  animation: particle-animation-22 70s infinite;
  opacity: 0.31;
  height: 3px;
  width: 3px;
  animation-delay: -4.4s;
  transform: translate3d(38vw, 26vh, 87px);
  background: hsla(212, 100%, 92%, 0.507);
}

@keyframes particle-animation-23 {
  100% {
    transform: translate3d(21vw, 35vh, 11px);
  }
}
.particle:nth-child(23) {
  animation: particle-animation-23 70s infinite;
  opacity: 0.57;
  height: 3px;
  width: 3px;
  animation-delay: -4.6s;
  transform: translate3d(6vw, 77vh, 66px);
  background: hsla(212, 100%, 92%, 0.507);
}

@keyframes particle-animation-24 {
  100% {
    transform: translate3d(80vw, 62vh, 86px);
  }
}
.particle:nth-child(24) {
  animation: particle-animation-24 70s infinite;
  opacity: 0.67;
  height: 3px;
  width: 3px;
  animation-delay: -4.8s;
  transform: translate3d(15vw, 47vh, 52px);
  background: hsla(212, 100%, 92%, 0.507);
}

@keyframes particle-animation-25 {
  100% {
    transform: translate3d(89vw, 85vh, 45px);
  }
}
.particle:nth-child(25) {
  animation: particle-animation-25 70s infinite;
  opacity: 0.71;
  height: 3px;
  width: 3px;
  animation-delay: -5s;
  transform: translate3d(77vw, 51vh, 24px);
  background: hsla(212, 100%, 92%, 0.507);
}

@keyframes particle-animation-26 {
  100% {
    transform: translate3d(46vw, 45vh, 50px);
  }
}
.particle:nth-child(26) {
  animation: particle-animation-26 70s infinite;
  opacity: 0.2;
  height: 3px;
  width: 3px;
  animation-delay: -5.2s;
  transform: translate3d(4vw, 18vh, 38px);
  background: hsla(212, 100%, 92%, 0.507);
}

@keyframes particle-animation-27 {
  100% {
    transform: translate3d(67vw, 51vh, 28px);
  }
}
.particle:nth-child(27) {
  animation: particle-animation-27 70s infinite;
  opacity: 0.08;
  height: 3px;
  width: 3px;
  animation-delay: -5.4s;
  transform: translate3d(86vw, 35vh, 87px);
  background: hsla(212, 100%, 92%, 0.507);
}

@keyframes particle-animation-28 {
  100% {
    transform: translate3d(32vw, 51vh, 79px);
  }
}
.particle:nth-child(28) {
  animation: particle-animation-28 70s infinite;
  opacity: 0.28;
  height: 3px;
  width: 3px;
  animation-delay: -5.6s;
  transform: translate3d(11vw, 19vh, 77px);
  background: hsla(212, 100%, 92%, 0.507);
}

@keyframes particle-animation-29 {
  100% {
    transform: translate3d(88vw, 60vh, 71px);
  }
}
.particle:nth-child(29) {
  animation: particle-animation-29 70s infinite;
  opacity: 0.96;
  height: 3px;
  width: 3px;
  animation-delay: -5.8s;
  transform: translate3d(20vw, 79vh, 2px);
  background: hsla(212, 100%, 92%, 0.507);
}

@keyframes particle-animation-30 {
  100% {
    transform: translate3d(68vw, 41vh, 32px);
  }
}
.particle:nth-child(30) {
  animation: particle-animation-30 70s infinite;
  opacity: 0.64;
  height: 3px;
  width: 3px;
  animation-delay: -6s;
  transform: translate3d(55vw, 50vh, 95px);
  background: hsla(212, 100%, 92%, 0.507);
}

main {
  background-color: var(--base-color);
  height: 100%;
}

#socials {
  margin-top: 20px;
}
#socials a {
  color: black;
  text-decoration: none;
  padding-right: 10px;
}
#socials a i {
  font-size: 40px;
}
#socials a i:hover {
  text-shadow: 3px 3px 10px #fff;
}

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 2px solid var(--highlight-color);
  margin: auto;
  max-width: 80%;
  padding: 0;
  padding-bottom: 20px;
}
@media (min-width: 800px) {
  hr {
    margin: 0;
    max-width: 75%;
  }
}

.flexcontainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 1200px;
  margin-inline: auto;
  height: auto;
}
@media (min-width: 800px) {
  .flexcontainer {
    flex-direction: row;
    align-items: center;
    height: 100vh;
    margin-top: -70px;
  }
}
.flexcontainer .flexitem1 {
  margin-top: 50px;
  text-align: center;
  color: var(--light-text-color);
  padding-inline: 20px;
}
@media (min-width: 800px) {
  .flexcontainer .flexitem1 {
    width: 55%;
    text-align: left;
    margin-top: -40px;
  }
}
.flexcontainer .flexitem1 #smalltext {
  margin-inline: auto;
  width: 80%;
  font-size: 18px;
}
@media (min-width: 800px) {
  .flexcontainer .flexitem1 #smalltext {
    margin-inline: 0;
    margin-top: 18px;
    font-size: 22px;
    width: 75%;
  }
}
.flexcontainer .flexitem1 h1 {
  font-size: 50px;
  color: var(--lightest-text-color);
  padding-top: 20px;
  padding-bottom: 10px;
}
@media (min-width: 800px) {
  .flexcontainer .flexitem1 h1 {
    font-size: 50px;
  }
}
@media (min-width: 1200px) {
  .flexcontainer .flexitem1 h1 {
    font-size: 60px;
  }
}
.flexcontainer .flexitem2 {
  margin-top: 50px;
  text-align: center !important;
}
@media (min-width: 800px) {
  .flexcontainer .flexitem2 {
    width: 45%;
  }
}
.flexcontainer .flexitem2 img {
  width: 80%;
}
@media (min-width: 800px) {
  .flexcontainer .flexitem2 img {
    width: 100%;
    margin-inline: auto;
  }
}

#projects {
  height: auto;
  margin-inline: auto;
  padding-inline: 20px;
}
#projects hr {
  width: 30% !important;
  margin-inline: auto !important;
  padding-bottom: 40px;
  border-top: 1px solid var(--highlight-color);
}
#projects h1 {
  max-width: 1200px;
  margin-inline: auto;
  font-size: 40px;
  padding-top: 20px;
  color: var(--lightest-text-color);
  padding-bottom: 20px;
}
@media screen and (max-width: 800px) {
  #projects h1 {
    text-align: center;
  }
}
#projects h3 {
  margin-inline: auto;
  text-align: center;
  padding-bottom: 20px;
  color: var(--light-text-color);
}
#projects h3 a {
  text-decoration: none;
  color: var(--highlight-color);
}

.projectcontainer {
  background-color: var(--lighter-base-color);
  flex-direction: row;
  display: flex;
  border-radius: 5px;
  max-width: 1200px;
  margin-inline: auto;
  margin-bottom: 20px;
}
@media screen and (max-width: 800px) {
  .projectcontainer {
    flex-direction: column;
    align-items: center;
    max-width: 500px;
  }
}
.projectcontainer .projectimage img {
  -o-object-fit: contain;
     object-fit: contain;
  border-top-left-radius: 5px;
  max-width: 350px;
}
@media screen and (max-width: 800px) {
  .projectcontainer .projectimage img {
    max-width: 100% !important;
  }
}
.projectcontainer .projecttext {
  padding: 20px;
}
.projectcontainer .projecttext #demo {
  background-color: var(--highlight-color);
}
.projectcontainer .projecttext button {
  background-color: transparent;
  color: var(--base-color);
  padding: 10px;
  border-radius: 15px;
  border: 1px solid var(--base-color);
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  display: inline-block;
  margin-right: 10px;
  font-size: 16px;
  cursor: pointer;
  letter-spacing: 3px;
}
.projectcontainer .projecttext button a {
  color: var(--base-color);
}
.projectcontainer .projecttext button:hover {
  background-color: var(--highlight-color);
}
.projectcontainer .projecttext h2 {
  text-align: left;
  margin-bottom: 10px;
  color: var(--darker-base-color);
}
.projectcontainer .projecttext p {
  text-align: justify;
  color: var(--darker-base-color);
}

.projectcontainer:hover {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

footer {
  text-align: center;
  padding: 20px;
  margin-inline: auto;
  max-width: 1200px;
  height: auto;
  color: var(--light-text-color);
}

#about {
  margin: 20px;
}
@media screen and (max-width: 800px) {
  #about {
    padding-top: 40px;
  }
}
#about .container {
  background-color: var(--lighter-base-color);
  border-radius: 10px;
  flex-direction: column;
  padding: 20px;
  display: flex;
  margin-inline: auto;
  justify-content: center;
}
@media all and (min-width: 800px) {
  #about .container {
    flex-direction: row;
    align-items: center;
    align-self: center;
    max-width: 1200px;
  }
}
#about .container .text {
  padding-bottom: 20px;
}
@media screen and (min-width: 800px) {
  #about .container .text {
    text-align: left;
    padding-right: 40px;
  }
}
#about .container .text h1 {
  padding-bottom: 15px;
  text-align: left;
  font-size: 40px;
}
@media screen and (max-width: 800px) {
  #about .container .text h1 {
    text-align: center;
  }
}
#about .container .text p {
  text-align: justify;
  color: var(--darker-base-color);
}
#about .container .image img {
  -o-object-fit: contain;
     object-fit: contain;
  max-height: 500px;
  width: 100%;
}
@media screen and (min-width: 800px) {
  #about .container .image img {
    width: 350px;
  }
}
#about .container:hover {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

#contact {
  height: 500px;
  padding: 20px;
  max-width: 1200px;
  text-align: center;
  margin-inline: auto;
}
#contact h3 {
  color: var(--light-text-color);
}
#contact h1 {
  font-size: 40px;
  text-align: center;
  padding-top: 40px;
  padding-bottom: 40px;
  color: var(--lighter-base-color);
}
#contact i {
  font-size: 50px;
  padding-bottom: 20px;
}
#contact p {
  text-align: justify;
}
#contact a {
  text-decoration: none;
  color: black;
  letter-spacing: 10px;
}

#knowledge {
  padding: 20px;
  max-width: 1200px;
  height: -moz-fit-content;
  height: fit-content;
  min-height: 500px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-inline: auto;
}
@media screen and (max-width: 800px) {
  #knowledge {
    padding-bottom: 70px;
  }
}
#knowledge hr {
  width: 30% !important;
  margin-inline: auto !important;
  padding-bottom: 40px;
}
#knowledge h1 {
  font-size: 40px;
  color: var(--lightest-text-color);
  text-align: center;
  padding-bottom: 10px;
}
#knowledge .icons {
  padding: 20px;
  display: flex;
  color: #fff;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around !important;
  margin-inline: auto !important;
  align-self: center !important;
  width: 100%;
  max-width: 800px;
  text-align: center !important;
}
#knowledge .icons i {
  font-size: 100px;
  letter-spacing: 20px;
  text-align: center !important;
}
@media screen and (max-width: 800px) {
  #knowledge .icons i {
    margin-inline: auto !important;
    font-size: 80px;
  }
}
#knowledge .icons i:hover {
  text-shadow: 3px 3px 10px #000000;
}
#knowledge p {
  text-align: center;
  padding-inline: 40px;
  color: var(--light-text-color);
  max-width: 800px;
  padding-top: 5px;
  margin-inline: auto;
}/*# sourceMappingURL=style.css.map */