#about {


margin: 20px;
    @media screen and (max-width: 800px) {
        padding-top: 40px;
        max-width: 1200px;


    }
    .container {
        background-color: var(--lighter-base-color);
border-radius: 10px;
        flex-direction: column;
        padding: 20px;
        display: flex;
        margin-inline: auto;
        justify-content: center;

        @media all and (min-width:800px) {
            flex-direction:row;
            align-items: center;
            align-self: center;
            max-width: 1300px;

            }

.text {

    padding-bottom: 20px;

    @media screen and (min-width:800px) {
        text-align: left;
    padding-right: 40px;
    }

    h1 {
        padding-bottom: 15px;
        text-align: left;
        font-size: 40px;

        @media screen and (max-width:800px) {
text-align: center;
        }
    }

    p {
        text-align: justify;
        color: var(--darker-base-color);
    }

}

.image {
    img {
        object-fit: contain;
        max-height: 500px;
        width: 100%;
        pointer-events: none;


        @media screen and (min-width:800px) {
            width: 350px;
        
        }

    }
}

    }

    .container:hover {
        box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
        }
        

}

