html, body {
    margin:0;
        scroll-behavior: smooth;

}

* {
    box-sizing: border-box;
}

::selection {
    background-color: var(--highlight-color);
    color: var(--base-color);
}

::-moz-selection {
    background-color: var(--highlight-color);
    color: var(--base-color);

}

::-o-selection {
    background-color: var(--highlight-color);
    color: var(--base-color);

}

::-ms-selection {
    background-color: var(--highlight-color);
    color: var(--base-color);

}

::-webkit-selection {
    background-color: var(--highlight-color);
    color: var(--base-color);

}


/*resets*/
h1, h2, h3, h4, h5, p {
    margin:0;
    padding:0;
}

body {
    background-image: linear-gradient(to bottom, #222535, #272a3e, #2b3047, #303550, #353b59, #34415f, #334765, #314d6b, #2d536c );
    /*background-image: linear-gradient(180deg, var(--base-color), #3c4366);*/
background-color: var(--base-color);

}