html, body {
    margin:0;
        scroll-behavior: smooth;

}

* {
    box-sizing: border-box;
}

/*resets*/
h1, h2, h3, h4, h5, p {
    margin:0;
    padding:0;
}

body {
    background-image: linear-gradient(180deg, var(--base-color), #3c4366);
background-color: var(--base-color);
}