#contact {
    height:500px;
    padding: 20px;
    max-width: 1200px;
    text-align: center;
    margin-inline: auto;

    h3 {
        color: var(--light-text-color);

    }

    h1 {
    font-size: 40px;
    text-align: center;
    padding-top: 40px;
    padding-bottom: 40px;
    color: var(--lighter-base-color)
    }

        i {
            font-size: 50px;
            padding-bottom: 20px;
        } 
        
        p {
        text-align: justify;
    }
a {
    text-decoration: none;
    color: black;
    letter-spacing: 10px;
}

    }

  

