
header {
    /*background-color: var(--base-color);*/
        height: auto;
        min-height: 720px;
}

#socials {
    margin-top: 20px;

    a {
        color: rgb(255, 255, 255);
        text-decoration: none;
        padding-right: 10px;

        i {
            font-size: 40px;
        }

        i:hover {
            text-shadow: 2px 2px 5px black;
        }

      }
}

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 2px solid var(--highlight-color);
    margin:  auto;
    max-width: 80%;
    padding: 0;
    padding-bottom: 10px;


    @media (min-width: 1000px) {
        margin:0;
        max-width: 70%;
        padding-bottom: 10px;

    }
}

:root {
  --base-color: #222535;
  --darker-base-color: #272535;
  --lighter-base-color: #E5F2F9;
  --light-text-color: #a9a9be;
  --lightest-text-color: rgb(252, 254, 255);
  --highlight-color: #F3C72C;
}

html, body {
  margin: 0;
  scroll-behavior: smooth;
  font-family: Arial, Helvetica, sans-serif;
  background-image: linear-gradient(to bottom, #222535, #272a3e, #2b3047, #303550, #353b59, #34415f, #334765, #314d6b, #2d536c);
  background-color: var(--base-color);
}

* {
  box-sizing: border-box;
}

h1 {
  font-size: 50px;
  color: var(--lightest-text-color);
  padding-top: 20px;
  padding-bottom: 5px;
  text-transform: uppercase;
  font-weight: 100;
  text-align: center; /* Center align for smaller screens */
}

.flexcontainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 500px;
  margin-inline: auto;
  height: auto;
  min-height: fit-content;
}

.flexitem1 {
  margin-top: 50px;
  text-align: center;
  color: var(--light-text-color);
  padding-inline: 20px;
}

.flexitem2 {
  margin-top: 70px;
  text-align: center;
}

.flexitem2 img {
  width: 80%;
  object-fit: cover;
;}

@media (min-width: 1000px) {
  .flexcontainer {
    flex-direction: row;
    align-items: center;
    height: 100vh;
    margin-top: -70px;
  }
  
  .flexitem1 {
    width: 55%;
    text-align: left;
    margin-top: -40px;
  }

  .flexitem1 h1 {
    font-size: 70px;
  }

  .flexitem2 img {
    width: 70%;
  }
}

@media (max-width: 1400px) {
  .flexitem1 h1 {
    padding-top: 30px;
    font-size: 50px;
  }
}

@media (max-width: 400px) {
  .flexitem1 h1 {
    font-size: 40px; /* Adjust font size for very small screens */
  }
}