
main {
    /*background-color: var(--base-color);*/
        height: 100%;
}

#socials {
    margin-top: 20px;

    a {
        color: rgb(255, 255, 255);
        text-decoration: none;
        padding-right: 10px;

        i {
            font-size: 40px;
        }

        i:hover {
            text-shadow: 2px 2px 5px black;
        }

      }
}

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 2px solid var(--highlight-color);
    margin:  auto;
    max-width: 80%;
    padding: 0;
    padding-bottom: 20px;


    @media (min-width: 800px) {
        margin:0;
        max-width: 75%;
    }
}


.flexcontainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 1300px;
    margin-inline: auto;
    height: auto;

    @media (min-width: 800px) {
        flex-direction: row;
align-items: center;
height: 100vh;
margin-top: -70px;
    }

    

    .flexitem1 {
        margin-top: 50px;
        text-align: center;
        color: var(--light-text-color);
        padding-inline: 20px;

        @media (min-width: 800px) {
            width: 55%;
            text-align: left;
            margin-top: -40px
            
        }
    

        #smalltext {
            margin-inline: auto;
            width: 80%;
            font-size: 18px;

    

            @media (min-width: 800px) {
                margin-inline: 0;
                margin-top: 18px;
                font-size: 22px;
                width: 75%;
            }
        
        }

        h1 {
            font-size: 50px;
            color:var(--lightest-text-color);
            padding-top: 20px;
            padding-bottom: 10px;
            text-transform: uppercase;
font-weight: 100;

            @media (min-width: 800px) {
                font-size: 50px;
            }


            @media (min-width: 1200px) {
                font-size: 60px;
            }
        }
    }

    .flexitem2 {
        margin-top: 50px;
        text-align: center !important;

        @media (min-width: 800px) {
            width: 45%;
        }

        img {
            width: 80%;


            @media (min-width: 800px) {
                width: 100%;
margin-inline: auto;
            }
        
        }

       
    }
}