#sticky {

position: fixed;
bottom: 0;
right: 0;
z-index: 999;
color: var(--secondary-text-color);
background-color: var(--secondary-base-color);
margin: 10px;
border: 1px solid var(--secondary-text-color);
border-radius: 20px;

    .stickycontainer {
display: flex;
flex-direction: column;

a{
    color: var(--lightest-text-color);
    text-decoration: none;
    font-size: 35px;
    padding: 5px;
    text-shadow: 2px 0px 5px rgba(0,0,0,0.91);

}

    }
}