/*
:root {
    --base-color: #4C4864;
    --darker-base-color: #201e2c;
    --lighter-base-color: #E5F2F9;
    --light-text-color: #959da1;
    --lightest-text-color: rgb(252, 254, 255);
    --highlight-color: #F3C72C;
}
*/

:root {
    --base-color: #222535;
    --darker-base-color: #272535;
    --lighter-base-color: #E5F2F9;
    /*--light-text-color: #e2e2e9;*/
--light-text-color: #a9a9be;
    --lightest-text-color: rgb(252, 254, 255);
    --highlight-color: #F3C72C;
}
